#############################################
#   Redefining GNU styleguide defaults to   #
#  reflect coding standarts for C/C++ code  #
#############################################

# clang-format version 8.0.0

# You can use
# // clang-format off
# // clang-format on
# if your formatting does not fit standardized one


BasedOnStyle: GNU

# Matches both C and C++
Language: Cpp
# Detects automatically language standart based on input
Standard: Auto

ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 3
SpacesBeforeTrailingComments: 2
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement:  false
  AfterEnum:              true
  AfterFunction:          true
  AfterStruct:            true
  AfterClass:             true
  AfterUnion:             true
  AfterNamespace:         true
  AfterExternBlock:       false
  BeforeCatch:            true
  BeforeElse:             false
  IndentBraces:           false
  SplitEmptyFunction:     true
  SplitEmptyRecord:       true
  SplitEmptyNamespace:    true
SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: true
SpacesInContainerLiterals: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false
Cpp11BracedListStyle: true
BreakBeforeBinaryOperators: None
FixNamespaceComments: true
PointerAlignment: Left
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 100000  # To ban return type on its own line
PenaltyBreakBeforeFirstCallParameter: 0
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignEscapedNewlinesLeft: true
BinPackArguments: false
BinPackParameters: false
BreakStringLiterals: false
ReflowComments: false
SortIncludes: false
IncludeBlocks: Preserve
