[flake8]
show_source = True
ignore =
    A001,  # Shadowing builtin by variable
    A002,  # Shadowing builtin by argument
    A003,  # Shadowing builtin by class attribute
    C101,
    C408,
    C812,
    C901,  # Complex functions
    CCR001,  # Cognitive complexity
    EXE001,
    N801,
    N802,  # Function naming
    N806,  # Variable in function should be lowercase
    N815,  # mixedCase variable in class scope (constants, method names)
    P101,
    P103,
    PIE781,
    PIE786,
    PIE803,
    R504,
    SIM102,
    SIM106,  # Handle error-cases first
    SIM115,
    T,
    VNE002,
    VNE003,
    E126,
    W504,
    E226,
    E241,
    E123,
    E501,
    E800  # Commented code

max-complexity = 15
max-cognitive-complexity = 15
max-expression-complexity = 15
max-line-length = 110
max-parameters-amount = 8
per-file-ignores =
    *__init__.py: F403, F405, F401
# VNE001  # Too many single letter variable names
